html,body{
    margin: 0;
    padding: 0;
    background-color: #152238;
    color: white;
   
    
}

.header{
    font-size: 25px;
    line-height: 25px;
    font-weight: 700px;
}

.endorsements{
    font-size: 20px;
    line-height: 20px;
    font-weight: 700px;
}

#publish-btn{
    border-radius: 8px;
    background-color: #28A9F1;
    border: none;
    padding: 20px 130px;
    font-family: 'Josefin Sans','sans-serif';
    font-size: 22px;
    font-weight: 700;

}

#input-field{
    background-color: #444059;
    border-radius: 8px;
    border: none;
    padding: 60px 100px;
    margin: 10px 0;
}

#from-field,#to-field{
    background-color: #444059;
    border-radius: 8px;
    border: none;
    padding: 20px 15px;
    text-align: center;
}

.from-to-inputfields{
    margin-bottom: 10px;
}

img{
    width: 90px;
    height: 90px;
    margin-top: 60px;
    margin: 0 auto;
    
}
.container{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 30px auto;
    text-align: center;
    align-items: center;
    font-family: 'Josefin Sans','sans-serif';
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    font-family: "Inter", sans-serif;
}

ul li{
    padding: 30px 20px;
    background-color: white;
    color: black;
    text-align: left;
    font-family: "Inter", sans-serif;
    
    
}

textarea:focus,input:focus{
    color: white;
}

.ul-wrapper{
    margin: 0 auto;
}

.from-to-inputfields
{
    font-weight: bolder;
    font-family: "Inter", sans-serif;
}

.endorsement-to,.endorsement-from{
    font-weight: bold;
}


